<htmL>
    <head>
        <title>test flask</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel= "stylesheet" href="./static/style.css">
    </head>
    <body>
        <div class ="container-fluid">
            <div class="row">
             <div class ="col-md-1"></div>
             <div class ="col-md-10">
                 <div class="row">
                        <h3>Dasboard</h3>
                     <div class="col-md-3">
                        
                        <div class="panel panel-default">
                       <div class="panel-body">
                        <span class="boxValue"><center>
                                {{data['time']['updated']}} 
                            </center>
                            <div><center>Date</center></div>
                        </span> 
                       </div>
                     </div>
                       </div>


                       <div class="col-md-3">
                            
                            <div class="panel panel-default">
                           <div class="panel-body">
                                <span class="boxValue"><center>
                            {{data['chartName']}}
                        </center>
                            <div><center>Name</center></div>
                        </span> 
                           </div>
                         </div>
                           </div>

                           <div class="col-md-3">
                               
                                <div class="panel panel-default">
                               <div class="panel-body">
                                    <span class="boxValue">
                                        <center>
                                 {{data['bpi']['USD']['code']}}
                                </center>
                                 <div><center>Currency</center></div>
                                </span> 
                               </div>
                             </div>
                               </div>

                               <div class="col-md-3">
                               
                                    <div class="panel panel-default">
                                   <div class="panel-body">
                                        <span class="boxValue"><center>
                                     {{data['bpi']['USD']['rate_float']}}
                                    </center>
                                     <div><center>Rate</center></div>
                                    </span> 
                                   </div>
                                 </div>
                                   </div>
                           
               </div>
             <div class ="col-md-1"></div>
             
            </div>
        </div>
    </body>
</htmL>